{% extends "base.html" %}
{% load i18n staticfiles pages_tags mezzanine_tags sfpirg_tags calendar_tags news_tags %}

{% block bodycontent %}

	<section class="section row-two grey">
		{% page_menu "menus/slideshow.html" %}

		<div id="experience-widget" class="col four tablet-eight mobile-full">
			<h3><a href="/category/{{'Testimonial'|category_slug}}">EXPERIENCE SFPIRG</a></h3>
			{% sfpirg_random_testimonial %}
		</div>

        <div id="values" class="col two tablet-four mobile-full"><h3><a href="/values">OUR VALUES</a></h3>
        	<a href="/values"><img src="../static/img/what-matters-to-us.png" alt="Click for: What Matters to US" /></a>
        </div><!-- end of #values -->


        <div id="newsletter" class="col two tablet-four mobile-full"><h3><a href="http://sfpirg.us4.list-manage1.com/subscribe?u=06455f18e6886efe48a03ced1&id=66dabecbe8">NEWSLETTER</a></h3>
        <a href="http://sfpirg.us4.list-manage1.com/subscribe?u=06455f18e6886efe48a03ced1&id=66dabecbe8" target="_blank"><img src="../static/img/newsletter.png" alt="Click for: Newsletter" /></a>
        </div><!-- end of #newsletter -->

    </section>


    <section class="section row-two green">

        <div id="what-is-happening" class="col five mobile-full">
        	<h3><a href="/category/{{'Event'|category_slug}}/">What is happening</a></h3>
        	{% calendar_event_slider %}
        </div>

        <div id="news" class="col three mobile-full">
        	<h3><a href="/category/{{'NewsPost'|category_slug}}">News</a></h3>
        	{% news_list %}
        </div>

        <div id="stay-connected" class="col four mobile-full"><h3>Stay Connected</h3>
        <a href="https://www.facebook.com/sfpirg" target="_blank"><img src="../static/img/facebook.png" alt="Like us on Facebook" /></a>
        <a href="https://twitter.com/SFPIRG" target="_blank"><img src="../static/img/twitter.png" alt="Follow Us on Twitter" /></a>
        <a href="http://www.youtube.com/user/SFPIRGatSFU" target="_blank"><img src="../static/img/youtube.png" alt="Watch Us on You Tube"/></a>
        </div><!-- end of #stay-connected -->

    </section>


	<section class="section row-two teal">
    	<div id="get-involved" class="col five tablet-six mobile-full"><h3><a href="/category/{{'Project'|category_slug}}/">Get Involved</a></h3>
        <div class="wrap-fix">
          <a href="/category/{{'Project'|category_slug}}/"><img class="arx-logo" src="/static/img/arx-logo.png" alt="Click to Action Resource Exchange" /></a>
        <p class="arx-text">SFU students get connected with non-profit community organizations and give something back while gaining great experience!  Take on an ARX project for credit or independantly.</p>
        <a href="/category/{{'Project'|category_slug}}/"><img class="arx-browse" src="/static/img/browse-proposal.png" alt="Click to Browse Arx Proposals" /></a>
        </div><!-- end of .wrap-fix -->

        </div><!-- end of #get-involved -->


      <div id="action-groups" class="col seven tablet-six mobile-full"><h3><a href="/category/{{'ActionGroup'|category_slug}}/">Action Groups</a></h3>
        <a href="/action-groups"><img class="ag-logo" src="/static/img/action-groups-logo.png" alt="Click to see more actions groups" /></a>
        {% action_group_slider %}
        <a href="/action-groups"><img class="ag-more" src="/static/img/more-button-teal.png" alt="Click for More"></a>
        </div><!-- end of #action-groups -->

    </section>


    <section class="section row-two yellow">
    	{% projects_slider %}
    </section>
{% endblock %}