<section id="sidebar" class="col four tablet-five mobile-full">

	<div class="section row grey">

		<div id="navigation" class="col tablet-full mobile-full">
			<h3><a href="#">Navigation</a></h3>
			<ul>
				<li>
					<a href="#">Sub Menu</a>
				</li>
				<li>
					<a href="#">Sub Menu</a>
				</li>
				<li>
					<a href="#">Sub Menu</a>
				</li>
				<li>
					<a href="#">Sub Menu</a>
				</li>
				<li>
					<a href="#">Sub Menu</a>
				</li>
			</ul>

		</div><!-- end of #navigation -->

	</div>

	<div class="section row grey">

		<div id="experience-widget" class="col tablet-full mobile-full">
			<h3><a href="#">EXPERIENCE SFPIRG</a></h3>
			<img src="../static/img/avatar.jpg" alt="Avatar" />
			<p class="x-name">
				Sophia Salem - Board Member
			</p>
			<p class="x-title-story">
				Title of Story
			</p>
			<p class="x-text">
				Sophia Salem is a Board member at SFPIRG and first got involved when she decided to organize an Anti-Opression workshop for youth.
			</p>
			<a href="#"><img class="x-more" src="../static/img/more-button-grey.png" alt="Click for More" /></a>
		</div><!-- end of #experience-widget -->

	</div>

	<div class="section row green">

		<div id="what-is-happening" class="col tablet-full mobile-full">
			<h3><a href="#">What is happening</a></h3>

			<div class="left-button">
				<a class="prev-big" href=""><!--remove image when JS in in--><img src="../static/img/arrow-left-green-b.png" alt="next" /></a>
			</div>

			<ul>
				<li>
					<img class="event-img" src="../static/img/event.jpg" alt="Event Picture" />
					<p class="ev-title">
						COMMUNITY ORGANIZING WORKSHOP
					</p>
					<p class="ev-date">
						JUNE 18, 2013 at 8PM
					</p>
					<p class="ev-text">
						SFPIRG is excited to annonce MIa Mingus will be joing us...
					</p>
					<a href="#"><img class="ev-more" src="../static/img/more-button-green.png" alt="Click for More" /></a>
				</li>
				<li>
					<img class="event-img" src="../static/img/event.jpg" alt="Event Picture" />
					<p class="ev-title">
						COMMUNITY ORGANIZING WORKSHOP
					</p>
					<p class="ev-date">
						JUNE 18, 2013 at 8PM
					</p>
					<p class="ev-text">
						SFPIRG is excited to annonce MIa Mingus will be joing us...
					</p>
					<a href="#"><img class="ev-more" src="../static/img/more-button-green.png" alt="Click for More" /></a>
				</li>
				<li>
					<img class="event-img" src="../static/img/event.jpg" alt="Event Picture" />
					<p class="ev-title">
						COMMUNITY ORGANIZING WORKSHOP
					</p>
					<p class="ev-date">
						JUNE 18, 2013 at 8PM
					</p>
					<p class="ev-text">
						SFPIRG is excited to annonce MIa Mingus will be joing us...
					</p>
					<a href="#"><img class="ev-more" src="../static/img/more-button-green.png" alt="Click for More" /></a>
				</li>
			</ul>

			<div class="right-button">
				<a class="next-big" href=""><!--remove image when JS in in--><img src="../static/img/arrow-right-green-b.png" alt="next" /></a>
			</div>

		</div><!-- end of #what-is-happening -->
	</div>

	<div class="section row grey">

		<div id="newsletter" class="col tablet-full mobile-full">
			<h3><a href="#">NEWSLETTER</a></h3>
			<a href="http://sfpirg.us4.list-manage1.com/subscribe?u=06455f18e6886efe48a03ced1&id=66dabecbe8" target="_blank"><img src="../static/img/newsletter.png" alt="Click for: Newsletter" /></a>
		</div><!-- end of #newsletter -->

	</div>

	<div class="section row green">

		<div id="stay-connected" class="col tablet-full mobile-full">
			<h3><a href="#">Stay Connected</a></h3>
			<a href="https://www.facebook.com/sfpirg" target="_blank"><img src="../static/img/facebook.png" alt="Like us on Facebook" /></a>
			<a href="https://twitter.com/SFPIRG" target="_blank"><img src="../static/img/twitter.png" alt="Follow Us on Twitter" /></a>
			<a href="http://www.youtube.com/user/SFPIRGatSFU" target="_blank"><img src="../static/img/youtube.png" alt="Watch Us on You Tube"/></a>
		</div><!-- end of #stay-connected -->

	</div>

</section>