{% load i18n future pages_tags sfpirg_tags %}

<div class="event-slider-container">
	<div class="cycle-slideshow"
		data-cycle-fx="fade"
		data-cycle-timeout="8000"
		data-cycle-slides="> div.slide"
        data-cycle-prev="#event-prevslide"
        data-cycle-next="#event-nextslide">
			<a href="#" id="event-prevslide" class="arrow-left green"></a>
			<a href="#" id="event-nextslide" class="arrow-right green"></a>
		{% if not events %}
			<div class="slide">
	         	<img class="event-img"
	         			src="/static/img/noevent.jpg"
	         			alt="No Events" />
	         	<p class="ev-title">Sorry</p>
                <p class="ev-date">No Current Events</p>
                <p class="ev-text">Please check back soon - events will be added shortly</p>
             </div>
		{% endif %}
		{% for event in events %}
	         <div class="slide">
	         	{% if event.featured_image %}
	         		<img class="event-img"
	         			src="{{ MEDIA_URL }}{% sfpirg_thumbnail event.featured_image 150 0 %}"
	         			alt="Event Picture" />
	         	{% endif %}
                <p class="ev-title">{{ event.title|truncatewords:6 }}</p>
                <p class="ev-date">{{ event.start|date:"M d, Y" }} at {{ event.start|date:"g:iA" }}</p>
                <p class="ev-text">{{ event.content|striptags|truncatewords:10 }}</p>
                <a href="{{ event.get_absolute_url }}"><img class="ev-more" src="/static/img/more-button-green.png" alt="Click for More" /></a>
             </div>
	    {% endfor %}
	</div>

</div>