{% extends "pages/page.html" %}

{% load mezzanine_tags sfpirg_tags %}

{% block contentclass %}green{% endblock %}
{% block main %}{{ block.super }}

	<div id="main-content-block">
		{% if event.featured_image %}
			<img class="featured-image" src="{{ MEDIA_URL }}{% sfpirg_thumbnail page.featured_image 250 0 %}" />
		{% endif %}
        <h2>{{event.title}}</h2>
		<p>{% if event.start|date:"M d" == event.end|date:"M d" %}
        {{ event.end|date:"M d" }}, {{ event.start|date:"Y" }}
        {% else %}
        {{ event.start|date:"M d" }} to {{ event.end|date:"M d" }}, {{ event.start|date:"Y" }}
        {% endif %}
        <br>
		{{ event.start|date:"g:iA" }} to {{ event.end|date:"g:iA" }}<br>
		@ {{ event.location }}</p>

        <div class="project-info-line row">

            {% if event.link_url %}
            <span class="icon">
            	<a href="{{ event.link_url }}" target="_blank"><img src="/static/img/register.png"/ alt="Register"></a>
            </span>
            {% endif %}

			<span class="social-icons"><!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-525da9880c8f9f5e"></script>
<!-- AddThis Button END --></span>
			</div>




		{% editable event.content %}
			{{ event.content|richtext_filter|safe }}
		{% endeditable %}


	</div>

{% endblock %}
