/* ==========================================================================

  Base Stylesheet - http://git.io/base
  Author: Matthew Hartman - http://www.matthewhartman.com.au/
  Version: 1.5 - Last Updated: 21st June, 2013

========================================================================== */
.menu-slideshow {
  position: relative;
  overflow: hidden;
  max-height: 330px;
  /* caption */
  /* overlay */ }
  .menu-slideshow .button-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 700; }
  .menu-slideshow .cycle-caption {
    position: absolute;
    color: white;
    bottom: 15px;
    right: 15px;
    z-index: 700; }
  .menu-slideshow .cycle-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 600;
    background-color: rgba(0, 0, 0, 0.3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);
    /* IE*/
    padding: 15px;
    color: white; }
    .menu-slideshow .cycle-overlay div:first-child {
      font-family: Peignot LT Std Demi, PeignotLTStd-Demi;
      text-transform: uppercase;
      font-size: 20px;
      font-size: 1.25rem; }
  .menu-slideshow .arrow-left, .menu-slideshow .arrow-right {
    background-position: top center;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 66px;
    height: 55px;
    top: 130px;
    z-index: 101; }
  .menu-slideshow .arrow-left {
    left: 10px; }
    .menu-slideshow .arrow-left.red {
      background-image: url(/static/img/arrow-left-red-b.png); }
    .menu-slideshow .arrow-left.green {
      background-image: url(/static/img/arrow-left-green-b.png); }
    .menu-slideshow .arrow-left.teal {
      background-image: url(/static/img/arrow-left-teal-b.png); }
  .menu-slideshow .arrow-right {
    right: 10px; }
    .menu-slideshow .arrow-right.red {
      background-image: url(/static/img/arrow-right-red-b.png); }
    .menu-slideshow .arrow-right.green {
      background-image: url(/static/img/arrow-right-green-b.png); }
    .menu-slideshow .arrow-right.teal {
      background-image: url(/static/img/arrow-right-teal-b.png); }

.event-slider-container, .ag-slider-container {
  overflow: hidden; }
  .event-slider-container .button-more, .ag-slider-container .button-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 700; }
  .event-slider-container .slide, .ag-slider-container .slide {
    padding: 0 70px;
    white-space: normal;
    vertical-align: top;
    width: 100%; }
    .event-slider-container .slide p, .ag-slider-container .slide p {
      white-space: normal; }
  .event-slider-container .arrow-left, .event-slider-container .arrow-right, .ag-slider-container .arrow-left, .ag-slider-container .arrow-right {
    background-position: top center;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 66px;
    height: 55px;
    top: 20px;
    z-index: 101; }
  .event-slider-container .arrow-left, .ag-slider-container .arrow-left {
    left: 2px; }
    .event-slider-container .arrow-left.red, .ag-slider-container .arrow-left.red {
      background-image: url(/static/img/arrow-left-red-b.png); }
    .event-slider-container .arrow-left.green, .ag-slider-container .arrow-left.green {
      background-image: url(/static/img/arrow-left-green-b.png); }
    .event-slider-container .arrow-left.teal, .ag-slider-container .arrow-left.teal {
      background-image: url(/static/img/arrow-left-teal-b.png); }
  .event-slider-container .arrow-right, .ag-slider-container .arrow-right {
    right: 2px; }
    .event-slider-container .arrow-right.red, .ag-slider-container .arrow-right.red {
      background-image: url(/static/img/arrow-right-red-b.png); }
    .event-slider-container .arrow-right.green, .ag-slider-container .arrow-right.green {
      background-image: url(/static/img/arrow-right-green-b.png); }
    .event-slider-container .arrow-right.teal, .ag-slider-container .arrow-right.teal {
      background-image: url(/static/img/arrow-right-teal-b.png); }

.ag-slider-container .slide {
  width: 100%; }
  .ag-slider-container .slide .slide-center {
    margin: auto;
    width: 156px; }
    .ag-slider-container .slide .slide-center .ag {
      display: block;
      float: left;
      width: 42px;
      height: 42px;
      overflow: hidden;
      margin: 5px; }
      .ag-slider-container .slide .slide-center .ag img {
        max-width: none; }

.project-carousel-container {
  position: relative;
  padding: 0 30px;
  background: url(../img/extra_clean_paper.jpg) repeat; }
  .project-carousel-container .left-button {
    width: 45px;
    height: 38px;
    position: absolute;
    left: 0;
    top: 80px; }
  .project-carousel-container .right-button {
    width: 45px;
    height: 38px;
    position: absolute;
    right: 0;
    top: 80px; }
  .project-carousel-container .prev-small {
    /*activae when JS carousel is in:
    background:url(../img/arrow-left-yellow.png) top left no-repeat;*/ }
    .project-carousel-container .prev-small:hover {
      opacity: 0.6;
      filter: alpha(opacity=60);
      /* For IE8 and earlier */ }
  .project-carousel-container .next-small {
    /*activae when JS carousel is in:
    background:url(../img/arrow-right-yellow.png) top left no-repeat;*/ }
    .project-carousel-container .next-small:hover {
      opacity: 0.6;
      filter: alpha(opacity=60);
      /* For IE8 and earlier */ }
  .project-carousel-container #project-carousel {
    font-family: Peignot LT Std Demi, PeignotLTStd-Demi;
    text-align: center; }
    .project-carousel-container #project-carousel div.slide {
      display: inline block;
      white-space: normal;
      float: left;
      width: 155px;
      height: 220px;
      background: url(../img/background-yellow-star.png) center bottom no-repeat; }
    .project-carousel-container #project-carousel a {
      color: #fff;
      text-decoration: none; }
      .project-carousel-container #project-carousel a:hover {
        color: #000; }
    .project-carousel-container #project-carousel h4 {
      font-size: 24px;
      color: #fff;
      margin: 0;
      width: 100%;
      text-transform: uppercase;
      line-height: 22px;
      float: left; }

.featured-image {
  float: left;
  padding: 0 10px 10px 0; }

form label {
  display: inline-block;
  min-width: 100px;
  margin-right: 10px; }
form span.helptext {
  display: block;
  font-size: smaller;
  color: #675f5f; }
form input[type=text], form select {
  min-width: 300px;
  padding: 5px;
  border: 1px solid #827777; }
form .errorlist {
  border: 1px solid red;
  padding: 20px 10px 5px 30px;
  background-color: pink; }
form a.add-another {
  display: inline-block;
  padding: 0 10px;
  font-size: 19px;
  font-weight: bold;
  color: blue;
  text-decoration: none; }

/* General Resets */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body, form, fieldset, legend, input, select, textarea, button {
  margin: 0; }

html {
  font-size: 100%; }

/* ==========================================================================
/* --  Micro Clearfix and Helpers
   ========================================================================== */
/* Micro Clearfix */
.clear:before, .clear:after {
  content: "";
  display: table; }

.clear:after {
  clear: both; }

.clear {
  zoom: 1; }

.section:before, .section:after {
  content: "";
  display: table; }

.section:after {
  clear: both; }

.section {
  zoom: 1; }

.checkbox:before, .checkbox:after {
  content: "";
  display: table; }

.checkbox:after {
  clear: both; }

.checkbox {
  zoom: 1; }

/* Helpers */
.left, .checkbox input[type=checkbox],
.checkbox input[type=radio] {
  float: left; }

.right {
  float: right; }

.block, .alert, .checkbox {
  display: block; }

.inline-block, audio, canvas, video, .button {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.inline {
  display: inline; }

.strong, b, strong, dt, legend, input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
textarea {
  font-weight: bold; }

.italic, dfn, blockquote {
  font-style: italic; }

.center-text {
  text-align: center; }

.none, .no-desktop, audio:not([controls]),
[hidden] {
  display: none; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  left: -9999em; }

.visuallyvisible {
  clip: auto;
  clip: auto;
  width: auto;
  height: auto;
  overflow: visible;
  left: 0; }

/* Alert */
.alert {
  background-color: #ffc;
  padding: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

/* ==========================================================================
/* 1.0 - Document Setup (typography, links, paragraph, etc)
   ========================================================================== */
/* Body */
body {
  font-size: 14px;
  font-size: 0.875rem;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* Strong and Italic */
/* Links */
a {
  color: #be1d2c; }

a:hover {
  text-decoration: none;
  color: #675f5f; }
  a:hover img {
    opacity: 0.6;
    filter: alpha(opacity=60);
    /* For IE8 and earlier */ }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

/* Paragraph and Small */
p, pre {
  margin: 1em 0; }

small {
  font-size: 80%; }

/* Abbreviations */
abbr[title] {
  border-bottom: 1px dotted; }

/* Audio */
audio:not([controls]) {
  height: 0; }

/* Small,
Sub and Sup */
small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

/* Definition */
/* Images */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto; }

@media \0screen {
  img {
    width: auto;
    /* for ie 8 */ } }
svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

.image-left {
  margin-right: 20px; }

.image-right {
  margin-left: 20px; }

/* 1.1 Headings - h1, h2, h3, h4, h5, h6 & other (if any)
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

h1, .h1 {
  font-size: 36px;
  font-size: 2.25rem;
  margin-bottom: .2em; }

h2, .h2 {
  font-size: 32px;
  font-size: 2rem;
  margin-bottom: .33em; }

h3, .h3 {
  font-size: 26px;
  font-size: 1.625rem;
  margin-bottom: .5em; }

h4, .h4 {
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: .5em; }

h5, .h5 {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: .5em; }

h6, .h6 {
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: .5em; }

/* Reset Heading */
.no-style-heading {
  font-size: 100%;
  margin: 0; }

/* Horizontal Rule */
hr {
  border: 0;
  background: none;
  outline: 0;
  background-color: #ddd;
  margin: 2em 0;
  *margin: 1em 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 1px; }

/* 1.2 Quotes and Code - block quotes, quotes, code, pre, etc
   ========================================================================== */
/* Block Quotes and Quotes */
blockquote {
  font-family: "Georgia", "Times" serif;
  font-size: 20px;
  font-size: 1.25rem;
  color: #777;
  margin: 1em 0; }

cite {
  color: #222;
  font-style: normal; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

/* Mark */
mark {
  background: #ff0;
  color: #111; }

/* Code */
code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

code {
  color: #111;
  padding: 2px 5px;
  background-color: #f1f1f1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

/* 1.3 Lists
   ========================================================================== */
dl, menu, ol, ul {
  margin: 1em 0; }

ul ul, ol ol, ul ol, ol ul {
  margin: 0; }

dd {
  margin: 0 0 0 40px; }

menu, ol, ul {
  padding: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

/* Remove Styling from List */
.no-style-list {
  list-style: none;
  padding: 0;
  margin: 0; }

/* 1.4 Tables
   ========================================================================== */
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
  *white-space: normal; }

table th,
table td {
  padding: 8px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee; }

table thead th {
  vertical-align: bottom;
  font-weight: bold;
  background-color: #e1e1e1;
  color: #333; }

table tfoot td {
  font-weight: bold; }

table caption {
  padding: 0.5em;
  font-style: italic;
  background-color: #eee;
  border-bottom: 0;
  font-weight: bold; }

/* 1.5 Forms, Labels and Inputs
   ========================================================================== */
fieldset {
  border: 0;
  padding: 0; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

label {
  cursor: pointer; }

button, input, select, textarea {
  font-size: 100%;
  vertical-align: baseline;
  *vertical-align: middle; }

input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
textarea {
  padding: 5px 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  color: #777;
  border: 1px solid #ddd;
  border-top: 1px solid #999;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

input[type=checkbox],
input[type=radio] {
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

.checkbox {
  margin: .2em 0; }
  .checkbox label {
    padding-left: 5px;
    overflow: hidden;
    display: table;
    *zoom: 1; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

/* Buttons */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: none; }

textarea,
select[multiple] {
  min-width: 400px;
  display: block; }

/* Custom Buttons */
.button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  padding: 1em 3em;
  color: #333;
  text-decoration: none;
  text-align: center; }

.orange-button {
  background-color: #fee9cc; }
  .orange-button:hover {
    background-color: #ffe0b5;
    -webkit-tap-highlight-color: #fdeed8; }
  .orange-button:active {
    background-color: #fdeed8; }

.button[disabled],
.button.disabled {
  color: #999;
  background-color: #f1f1f1; }

.no-style-button {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #f30;
  text-decoration: underline;
  border: 0;
  background: transparent;
  height: auto;
  padding: 0;
  cursor: pointer;
  outline: 0; }
  .no-style-button:hover {
    text-decoration: none; }

.no-style-button[disabled],
.no-style-button.disabled {
  text-decoration: none;
  color: #999; }

.button-more {
  display: block;
  width: 96px;
  height: 18px;
  background-position: top center;
  background-repeat: no-repeat; }
  .button-more.red {
    background-image: url(/static/img/more-button-red.png); }
  .button-more.green {
    background-image: url(/static/img/more-button-green.png); }
  .button-more.grey {
    background-image: url(/static/img/more-button-grey.png); }
  .button-more.teal {
    background-image: url(/static/img/more-button-teal.png); }
  .button-more.yellow {
    background-image: url(/static/img/more-button-yellow.png); }

/* ==========================================================================
/* 2.0 - Grid Layout (Responsive)
   ========================================================================== */
/* Sections & Content Blocks */
.section {
  position: relative; }

/* Rows */
.row {
  margin: .5em 0; }

.row-one {
  margin: 1em 0; }

.row-two {
  margin: 2em 0; }

.row-three {
  margin: 3em 0; }

.center, .container, .container-full {
  margin-left: auto;
  margin-right: auto; }

.container {
  max-width: 1020px;
  padding-left: 10px;
  padding-right: 10px; }

.container-full {
  max-width: 1040px; }

/* Fluid Grid */
.col {
  margin-left: 2%;
  float: left;
  /*border:1px solid #000;*/ }

.col:first-child {
  margin-left: 0; }

/* Columns */
.one {
  width: 6.5%;
  *width: expression(Math.floor(0.065 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px"); }

.two {
  width: 15%;
  *width: expression(Math.floor(0.15 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px"); }

.three, .quarter {
  width: 23.5%;
  *width: expression(Math.floor(0.235 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px"); }

.four, .one-third {
  width: 32%;
  *width: expression(Math.floor(0.32 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px"); }

.five {
  width: 40.5%;
  *width: expression(Math.floor(0.405 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px"); }

.six, .half {
  width: 49.0%;
  *width: expression(Math.floor(0.49 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px"); }

.seven {
  width: 57.5%;
  *width: expression(Math.floor(0.575 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px"); }

.eight {
  width: 66%;
  *width: expression(Math.floor(0.66 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px"); }

.nine {
  width: 74.5%;
  *width: expression(Math.floor(0.745 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px"); }

.ten {
  width: 83%;
  *width: expression(Math.floor(0.83 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px"); }

.eleven {
  width: 91.5%;
  *width: expression(Math.floor(0.915 * (this.parentNode.offsetWidth - parseFloat(this.parentNode.currentStyle.paddingLeft) - parseFloat(this.parentNode.currentStyle.paddingRight))) + "px"); }

.twelve {
  width: 100%; }

.red-nav {
  background: url(../img/left-red-menu.png) left center no-repeat, url(../img/right-red-menu.png) center right no-repeat, url(../img/red-menu.png) center center repeat-x;
  height: 61px;
  color: #fff;
  font-family: Peignot LT Std Demi, PeignotLTStd-Demi;
  font-size: 18px;
  font-size: 1.125rem;
  text-transform: uppercase; }
  .red-nav ul {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%; }
  .red-nav li {
    display: inline block;
    float: left;
    padding: 20px 8px; }
  .red-nav a {
    color: #fff;
    text-decoration: none; }
    .red-nav a:hover {
      color: #000; }

#main-title {
  font-family: Peignot LT Std Demi, PeignotLTStd-Demi;
  text-align: center;
  text-transform: uppercase; }
  #main-title h1 {
    font-size: 34px;
    color: #be1d2c;
    background: transparent; }

#tag-line {
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0; }
  #tag-line h2 {
    font-size: 18px;
    color: #221f1f; }

#top-search-bar {
  font-size: 12px;
  text-align: right;
  margin-bottom: 1.5em; }
  #top-search-bar input[type="text"] {
    background: url(../img/search-left-box.png) left center no-repeat, url(../img/search-right-box.png) center right no-repeat, url(../img/search-center-box.png) center center repeat-x;
    height: 32px;
    border: none;
    color: #be1d2c;
    box-shadow: none;
    width: 200px;
    text-align: left;
    vertical-align: top; }
  #top-search-bar input[type="submit"] {
    height: 32px;
    width: 25px;
    background: url(../img/search-button.png) no-repeat;
    cursor: pointer;
    border: none;
    box-shadow: none; }
    #top-search-bar input[type="submit"]:hover {
      background: url(../img/search-button-hover.png) no-repeat; }

.grey h3 {
  text-align: center;
  padding: 10px 0px; }
.grey h1 {
  text-align: left;
  padding-left: 20px; }
.grey h1, .grey h3 {
  background: url(../img/panel-grey-left.png) left center no-repeat, url(../img/panel-grey-right.png) center right no-repeat, url(../img/panel-grey-center.png) center center repeat-x, url(../img/white-mask.gif) top repeat-x;
  width: 100%;
  font-family: Peignot LT Std Demi, PeignotLTStd-Demi;
  text-transform: uppercase;
  color: #fff; }
  .grey h1 a, .grey h3 a {
    text-decoration: none;
    color: #fff; }
    .grey h1 a:hover, .grey h3 a:hover {
      color: #000; }
.grey #category-list h2 {
  background: url(../img/cat-middle-grey.jpg) repeat;
  float: left; }
.grey #category-list .main-cat-img:after {
  background: url(../img/cat-top-grey.png) top left no-repeat;
  height: 28px;
  width: 100%;
  content: "";
  display: inline-block;
  margin: -4px 0; }
.grey #category-list .cat-text:before {
  background: url(../img/cat-bottom-grey.png) bottom left no-repeat;
  height: 28px;
  width: 100%;
  content: "";
  display: inline-block; }
.grey #pagination li a {
  height: 16px;
  width: 23px;
  color: #000;
  line-height: 1;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block; }
  .grey #pagination li a:hover, .grey #pagination li a:active {
    color: #fff;
    background: url(../img/cat-pagination-grey.png) top center no-repeat; }

.teal h3 {
  text-align: center;
  padding: 10px 0px; }
.teal h1 {
  text-align: left;
  padding-left: 20px; }
.teal h1, .teal h3 {
  background: url(../img/panel-teal-left.png) left center no-repeat, url(../img/panel-teal-right.png) center right no-repeat, url(../img/panel-teal-center.png) center center repeat-x, url(../img/white-mask.gif) top repeat-x;
  width: 100%;
  font-family: Peignot LT Std Demi, PeignotLTStd-Demi;
  text-transform: uppercase;
  color: #fff; }
  .teal h1 a, .teal h3 a {
    text-decoration: none;
    color: #fff; }
    .teal h1 a:hover, .teal h3 a:hover {
      color: #000; }
.teal #category-list h2 {
  background: url(../img/cat-middle-teal.jpg) repeat;
  float: left; }
.teal #category-list .main-cat-img:after {
  background: url(../img/cat-top-teal.png) top left no-repeat;
  height: 28px;
  width: 100%;
  content: "";
  display: inline-block;
  margin: -4px 0; }
.teal #category-list .cat-text:before {
  background: url(../img/cat-bottom-teal.png) bottom left no-repeat;
  height: 28px;
  width: 100%;
  content: "";
  display: inline-block; }
.teal #pagination li a {
  height: 16px;
  width: 23px;
  color: #000;
  line-height: 1;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block; }
  .teal #pagination li a:hover, .teal #pagination li a:active {
    color: #fff;
    background: url(../img/cat-pagination-teal.png) top center no-repeat; }

.green h3 {
  text-align: center;
  padding: 10px 0px; }
.green h1 {
  text-align: left;
  padding-left: 20px; }
.green h1, .green h3 {
  background: url(../img/panel-green-left.png) left center no-repeat, url(../img/panel-green-right.png) center right no-repeat, url(../img/panel-green-center.png) center center repeat-x, url(../img/white-mask.gif) top repeat-x;
  width: 100%;
  font-family: Peignot LT Std Demi, PeignotLTStd-Demi;
  text-transform: uppercase;
  color: #fff; }
  .green h1 a, .green h3 a {
    text-decoration: none;
    color: #fff; }
    .green h1 a:hover, .green h3 a:hover {
      color: #000; }
.green #category-list h2 {
  background: url(../img/cat-middle-green.jpg) repeat;
  float: left; }
.green #category-list .main-cat-img:after {
  background: url(../img/cat-top-green.png) top left no-repeat;
  height: 28px;
  width: 100%;
  content: "";
  display: inline-block;
  margin: -4px 0; }
.green #category-list .cat-text:before {
  background: url(../img/cat-bottom-green.png) bottom left no-repeat;
  height: 28px;
  width: 100%;
  content: "";
  display: inline-block; }
.green #pagination li a {
  height: 16px;
  width: 23px;
  color: #000;
  line-height: 1;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block; }
  .green #pagination li a:hover, .green #pagination li a:active {
    color: #fff;
    background: url(../img/cat-pagination-green.png) top center no-repeat; }

.yellow h3 {
  text-align: center;
  padding: 10px 0px; }
.yellow h1 {
  text-align: left;
  padding-left: 20px; }
.yellow h1, .yellow h3 {
  background: url(../img/panel-yellow-left.png) left center no-repeat, url(../img/panel-yellow-right.png) center right no-repeat, url(../img/panel-yellow-center.png) center center repeat-x, url(../img/white-mask.gif) top repeat-x;
  width: 100%;
  font-family: Peignot LT Std Demi, PeignotLTStd-Demi;
  text-transform: uppercase;
  color: #fff; }
  .yellow h1 a, .yellow h3 a {
    text-decoration: none;
    color: #fff; }
    .yellow h1 a:hover, .yellow h3 a:hover {
      color: #000; }
.yellow #category-list h2 {
  background: url(../img/cat-middle-yellow.jpg) repeat;
  float: left; }
.yellow #category-list .main-cat-img:after {
  background: url(../img/cat-top-yellow.png) top left no-repeat;
  height: 28px;
  width: 100%;
  content: "";
  display: inline-block;
  margin: -4px 0; }
.yellow #category-list .cat-text:before {
  background: url(../img/cat-bottom-yellow.png) bottom left no-repeat;
  height: 28px;
  width: 100%;
  content: "";
  display: inline-block; }
.yellow #pagination li a {
  height: 16px;
  width: 23px;
  color: #000;
  line-height: 1;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block; }
  .yellow #pagination li a:hover, .yellow #pagination li a:active {
    color: #fff;
    background: url(../img/cat-pagination-yellow.png) top center no-repeat; }

.red h3 {
  text-align: center;
  padding: 10px 0px; }
.red h1 {
  text-align: left;
  padding-left: 20px; }
.red h1, .red h3 {
  background: url(../img/panel-red-left.png) left center no-repeat, url(../img/panel-red-right.png) center right no-repeat, url(../img/panel-red-center.png) center center repeat-x, url(../img/white-mask.gif) top repeat-x;
  width: 100%;
  font-family: Peignot LT Std Demi, PeignotLTStd-Demi;
  text-transform: uppercase;
  color: #fff; }
  .red h1 a, .red h3 a {
    text-decoration: none;
    color: #fff; }
    .red h1 a:hover, .red h3 a:hover {
      color: #000; }
.red #category-list h2 {
  background: url(../img/cat-middle-red.jpg) repeat;
  float: left; }
.red #category-list .main-cat-img:after {
  background: url(../img/cat-top-red.png) top left no-repeat;
  height: 28px;
  width: 100%;
  content: "";
  display: inline-block;
  margin: -4px 0; }
.red #category-list .cat-text:before {
  background: url(../img/cat-bottom-red.png) bottom left no-repeat;
  height: 28px;
  width: 100%;
  content: "";
  display: inline-block; }
.red #pagination li a {
  height: 16px;
  width: 23px;
  color: #000;
  line-height: 1;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block; }
  .red #pagination li a:hover, .red #pagination li a:active {
    color: #fff;
    background: url(../img/cat-pagination-red.png) top center no-repeat; }

#experience-widget {
  background: url(../img/extra_clean_paper.jpg) repeat;
  min-height: 184px;
  margin-bottom: 10px;
  font-size: 12px; }
  #experience-widget h3 {
    margin: -7px 0 0; }
  #experience-widget img {
    float: left;
    padding: 6px 8px 20px 4px; }
  #experience-widget .x-name {
    font-size: 14px;
    font-weight: bold;
    margin: 0; }
  #experience-widget .x-title-story {
    font-weight: 600;
    margin: 0; }
  #experience-widget .x-text {
    font-weight: 300;
    margin: 0;
    padding: 4px 0 0; }
  #experience-widget .x-more {
    float: right;
    padding: 5px 10px 10px; }

#navigation {
  width: 100%; }
  #navigation h3 {
    margin: -9px 0 0; }
  #navigation ul {
    width: 100%;
    list-style: none;
    list-style-position: inside;
    display: block;
    margin: 0;
    padding: 0; }
  #navigation li a {
    background: url(../img/sub-nav.png) center left repeat-x;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    padding: 4px 6px;
    display: block; }
    #navigation li a:hover {
      background: url(../img/sub-nav-hover.png) center left repeat-x; }

#values, #newsletter {
  background: url(../img/background-grey-star.jpg) center bottom no-repeat;
  height: 115px;
  text-align: center; }
  #values img, #newsletter img {
    padding: 0;
    margin: -16px 0; }

#what-is-happening {
  background: url(../img/extra_clean_paper.jpg) repeat;
  min-height: 184px;
  position: relative; }
  #what-is-happening ul {
    margin: -12px 0 0;
    padding: 0;
    display: block;
    padding: 0 58px;
    width: 100%;
    height: 130px;
    list-style: none;
    overflow: hidden; }
  #what-is-happening li {
    display: inline block;
    float: left;
    width: 100%; }
  #what-is-happening .event-img {
    float: left;
    padding: 6px 8px 0 0;
    width: 30%; }
  #what-is-happening .ev-title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 3px 0 0; }
  #what-is-happening .ev-date {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0; }
  #what-is-happening .ev-text {
    font-size: 10px;
    font-weight: 300;
    margin: 0;
    padding: 4px 0 0; }
  #what-is-happening .ev-more {
    float: right;
    padding: 5px 10px 10px; }
  #what-is-happening .left-button {
    width: 66px;
    height: 55px;
    position: absolute;
    left: 0;
    top: 83px; }
  #what-is-happening .right-button {
    width: 66px;
    height: 55px;
    position: absolute;
    right: 0;
    top: 83px; }
  #what-is-happening .prev-big {
    /*activae when JS carousel is in:
    background:url(../img/arrow-left-green-b.png) top center no-repeat;*/ }
    #what-is-happening .prev-big:hover {
      opacity: 0.6;
      filter: alpha(opacity=60);
      /* For IE8 and earlier */ }
  #what-is-happening .next-big {
    /*activae when JS carousel is in:
    background:url(../img/arrow-right-green-b.png) top center no-repeat;*/ }
    #what-is-happening .next-big:hover {
      opacity: 0.6;
      filter: alpha(opacity=60);
      /* For IE8 and earlier */ }

#news {
  background: url(../img/extra_clean_paper.jpg) repeat;
  min-height: 184px; }
  #news ul {
    margin: -12px 0 0;
    padding: 0;
    display: block;
    padding: 0 20px 0 10px;
    width: 100%;
    height: 125px;
    list-style: none;
    overflow: auto; }
  #news li {
    display: block;
    float: left;
    width: 100%;
    padding: 10px 0; }
    #news li a {
      color: #6aa620; }
      #news li a:hover {
        color: #221f1f; }

#stay-connected {
  background: url(../img/extra_clean_paper.jpg) repeat;
  min-height: 184px;
  text-align: center; }
  #stay-connected img {
    padding: 0px 6px; }

#get-involved {
  background: url(../img/background-teil-star.jpg) left bottom no-repeat, url(../img/extra_clean_paper.jpg) repeat;
  min-height: 184px; }
  #get-involved .arx-logo {
    float: left;
    margin: -12px 0;
    padding: 0 10px; }
  #get-involved .arx-text {
    float: left;
    font-size: 11px;
    font-weight: 300;
    margin: -8px 0;
    width: 154px; }
  #get-involved .arx-browse {
    float: left;
    padding: 0 30px; }

#action-groups {
  background: url(../img/background-teil-star.jpg) left bottom no-repeat, url(../img/extra_clean_paper.jpg) repeat;
  min-height: 184px;
  position: relative; }
  #action-groups .ag-logo {
    margin: -15px 0;
    padding: 0 10px;
    float: left; }
  #action-groups .ag-more {
    padding: 0 20px;
    float: left; }
  #action-groups ul {
    margin: -14px 68px 0 0;
    padding: 0;
    display: block;
    padding: 0;
    width: 208px;
    float: right;
    height: 130px;
    list-style: none;
    overflow: hidden; }
  #action-groups li {
    display: inline block;
    float: left;
    width: 67px;
    height: 67px;
    padding: 4px 6px; }
  #action-groups .left-button {
    width: 45px;
    height: 38px;
    position: absolute;
    left: 240px;
    top: 94px; }
  #action-groups .right-button {
    width: 45px;
    height: 38px;
    position: absolute;
    right: 17px;
    top: 94px; }
  #action-groups .prev-small {
    /*activae when JS carousel is in:
    background:url(../img/arrow-left-teal.png) top center no-repeat;*/ }
    #action-groups .prev-small:hover {
      opacity: 0.6;
      filter: alpha(opacity=60);
      /* For IE8 and earlier */ }
  #action-groups .next-small {
    /*activae when JS carousel is in:
    background:url(../img/arrow-right-teal.png) top center no-repeat;*/ }
    #action-groups .next-small:hover {
      opacity: 0.6;
      filter: alpha(opacity=60);
      /* For IE8 and earlier */ }

/*#project-carousel {
	font-family:$peidemi;
	text-align:center;
	background:$paper repeat;

		ul {margin:0;
			padding:0;
			display: block;
			padding:0 35px;
			width: 100%;
			height:220px;
			list-style:none;
			overflow:hidden;


		}
		li {display:inline block;
			float: left;
			width:155px;
			height:220px;
			background: url(../img/background-yellow-star.png) center bottom no-repeat;

			}

		 a	{color:#fff;
			text-decoration:none;
			&:hover{color:#000;}
		 }
		h4 {
			font-size:24px;
			color:#fff;
			margin:0;
			width:100%;
			text-transform:uppercase;
			line-height: 22px;
			float:left;
			}
		.left-button{
		width:45px;
		height:38px;
		position:absolute;
		left: 0;
    	top: 80px;
		}
		.right-button{
		width:45px;
		height:38px;
		position:absolute;
		right: 0;
    	top: 80px;
		}

		.prev-small {
		&:hover {opacity:0.6;
					filter:alpha(opacity=60); }
		}
		.next-small {
		&:hover {opacity:0.6;
					filter:alpha(opacity=60); }
		}
}*/
#main-content-block {
  margin: 20px 0; }

#category-list ul {
  width: 100%;
  list-style: inside none;
  display: block;
  padding: 0;
  margin: 20px 0; }
#category-list li {
  width: 177px;
  margin: 20px;
  height: 430px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  background: url(../img/extra_clean_paper.jpg) repeat; }
  #category-list li img {
    max-width: none; }
  #category-list li h2 {
    margin: 0;
    padding: 0 6px;
    width: 100%;
    text-transform: uppercase;
    font-family: Peignot LT Std Demi, PeignotLTStd-Demi;
    font-size: 24px;
    word-wrap: break-word;
    text-align: center;
    display: block; }
    #category-list li h2 a {
      color: #fff;
      text-decoration: none; }
      #category-list li h2 a:hover {
        color: #221f1f; }
#category-list .main-cat-img {
  float: left;
  background-color: transparent; }
  #category-list .main-cat-img img {
    margin-bottom: -23px; }
#category-list .cat-text {
  float: left;
  font-size: 12px;
  width: 177px;
  height: 154px; }
  #category-list .cat-text p {
    padding: 6px; }
#category-list .cat-more {
  position: absolute;
  right: 6px;
  bottom: 6px;
  margin: 8px 2px 7px; }

#pagination {
  margin: 20px 0;
  float: left;
  height: 20px;
  width: 100%;
  text-align: right; }
  #pagination ul {
    float: right;
    min-width: 200px;
    margin: 0;
    padding: 0; }
  #pagination li {
    height: 16px;
    width: 23px;
    margin: 5px;
    text-align: center; }

#copyright {
  font-size: 12px;
  text-align: center; }

/*Project Carousel Title Classes ----------------------------------------------------------
NOTE: img is based on an image no more than: 150px wide and 135px high. */
.oneline h4 {
  background: url(../img/pc-title-1line.png) center center no-repeat;
  padding: 15px 6px; }
.oneline img {
  margin: 12px 0; }

.twoline h4 {
  background: url(../img/pc-title-2line.png) center center no-repeat;
  padding: 14px 6px; }
.twoline img {
  margin: 4px 0; }

.threeline h4 {
  background: url(../img/pc-title-3line.png) center center no-repeat;
  padding: 13px 6px; }
.threeline img {
  height: auto;
  margin: -4px 0;
  width: 90%; }

.fourline h4 {
  background: url(../img/pc-title-4line.png) center center no-repeat;
  padding: 17px 6px; }
.fourline img {
  height: auto;
  margin: -75px 0;
  width: 64%; }

/*Project Carousel Title Classes End */
/*Side bar Adjustments START -----------------------------------------------
*/
#sidebar #experience-widget {
  width: 100%;
  margin-left: 0;
  font-size: 12px;
  margin: 6px 0 0; }
  #sidebar #experience-widget h3 {
    margin: 0; }
  #sidebar #experience-widget .x-name {
    font-size: 13px; }
#sidebar #what-is-happening ul {
  margin: 0;
  height: 112px; }
#sidebar #what-is-happening .event-img {
  padding: 6px 8px 8px 0;
  width: 30%; }
#sidebar #what-is-happening .ev-title {
  font-size: 10px; }
#sidebar #what-is-happening .ev-date {
  font-size: 10px; }
#sidebar #what-is-happening .ev-text {
  font-size: 10px; }
#sidebar #what-is-happening .left-button {
  width: 45px;
  height: 38px; }
#sidebar #what-is-happening .right-button {
  width: 45px;
  height: 38px; }
#sidebar #what-is-happening .prev-big {
  /*activae when JS carousel is in:
  background:url(../img/arrow-left-green.png) top center no-repeat;*/ }
#sidebar #what-is-happening .next-big {
  /*activae when JS carousel is in:
  background:url(../img/arrow-right-green.png) top center no-repeat;*/ }
#sidebar #newsletter {
  width: 100%;
  background: url(../img/extra_clean_paper-d.jpg) bottom right repeat-x;
  min-height: 109px; }

/*Side bar Adjustments END */
/* ==========================================================================
/* -- Tablet Devices (Layout, Modifications, etc)
   ========================================================================== */
@media only screen and (min-width: 785px) and (max-width: 1059px) {
  .container, .tablet-container {
    width: 765px;
    padding-left: 10px;
    padding-right: 10px; }

  /* Tablet Grid
  * For stacking full width columns, please use the new class .tablet-full */
  .tablet-one {
    width: 6.5%; }

  .tablet-two {
    width: 15%; }

  .tablet-three {
    width: 23.5%; }

  .tablet-four {
    width: 32%; }

  .tablet-five {
    width: 40.5%; }

  .tablet-six {
    width: 49.0%; }

  .tablet-seven {
    width: 57.5%; }

  .tablet-eight {
    width: 66%; }

  .tablet-nine {
    width: 74.5%; }

  .tablet-ten {
    width: 83%; }

  .tablet-eleven {
    width: 91.5%; }

  .tablet-twelve {
    width: 100%; }

  .tablet-full {
    clear: both;
    float: none;
    width: 100%;
    margin: 10px 0 0 0;
    display: block; }

  .tablet-full:first-child {
    margin-top: 0; }

  .tablet-center {
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .tablet-left {
    float: left; }

  .tablet-right {
    float: right; }

  .tablet-no-float {
    float: none; }

  .tablet-center:first-child {
    margin-left: auto; }

  .tablet-center-text {
    text-align: center; }

  .no-tablet {
    display: none; }

  .show-tablet {
    display: block; }

  .red-nav {
    font-size: 12px; }
    .red-nav li {
      padding: 24px 8px; }

  #sfpirg-logo {
    text-align: center; }

  #main-title {
    padding: 10px 0 0; }
    #main-title h1 {
      font-size: 22px;
      background: transparent; }

  #tag-line {
    padding: 0; }
    #tag-line h2 {
      font-size: 16px; }

  #values, #newsletter {
    background: url(../img/extra_clean_paper-d.jpg) bottom right no-repeat;
    height: 95px; }
    #values img, #newsletter img {
      width: 40%; }

  #experience-widget {
    margin-left: 0;
    font-size: 14px;
    margin-top: 6px; }
    #experience-widget .x-name {
      font-size: 16px; }

  #stay-connected img {
    height: auto;
    padding: 15px 6px;
    width: 31%; }

  #what-is-happening ul {
    margin: 0;
    height: 112px; }
  #what-is-happening .event-img {
    padding: 6px 8px 8px 0;
    width: 30%; }
  #what-is-happening .ev-title {
    font-size: 10px; }
  #what-is-happening .ev-date {
    font-size: 10px; }
  #what-is-happening .ev-text {
    font-size: 10px; }
  #what-is-happening .left-button {
    width: 45px;
    height: 38px; }
  #what-is-happening .right-button {
    width: 45px;
    height: 38px; }
  #what-is-happening .prev-big {
    /*activae when JS carousel is in:
    background:url(../img/arrow-left-green.png) top center no-repeat;*/ }
  #what-is-happening .next-big {
    /*activae when JS carousel is in:
    background:url(../img/arrow-right-green.png) top center no-repeat;*/ }

  #get-involved .arx-text {
    width: 115px; }
  #get-involved .arx-browse {
    margin-bottom: 5px; }

  #action-groups {
    background: url(../img/extra_clean_paper-dt.jpg) bottom right repeat-x;
    text-align: center; }
    #action-groups .ag-logo {
      display: none; }
    #action-groups .ag-more {
      margin: 19px 0;
      float: none; }
    #action-groups ul {
      height: 67px;
      margin: -69px 36px 0;
      width: 71px; }
    #action-groups .left-button {
      left: 220px; }
    #action-groups .right-button {
      right: 0px; }

  #project-carousel ul {
    padding: 0 61px; }

  #category-list li {
    margin: 13px; } }
/* End Tablet Media Query */
/* ==========================================================================
/* -- Mobile Devices (Layout, Modifications, etc)
   ========================================================================== */
@media only screen and (max-width: 784px) {
  /* Mobile Grid
  * For stacking full width columns, please use the new class .mobile-full */
  .mobile-one {
    width: 6.5%; }

  .mobile-two {
    width: 15%; }

  .mobile-three {
    width: 23.5%; }

  .mobile-four {
    width: 32%; }

  .mobile-five {
    width: 40.5%; }

  .mobile-six {
    width: 49.0%; }

  .mobile-seven {
    width: 57.5%; }

  .mobile-eight {
    width: 66%; }

  .mobile-nine {
    width: 74.5%; }

  .mobile-ten {
    width: 83%; }

  .mobile-eleven {
    width: 91.5%; }

  .mobile-twelve {
    width: 100%; }

  .mobile-full {
    clear: both;
    float: none;
    width: 100%;
    margin: 10px 0 0 0;
    display: block; }

  .mobile-full:first-child {
    margin-top: 0; }

  .mobile-center {
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .mobile-center:first-child {
    margin-left: auto; }

  .mobile-center-text {
    text-align: center; }

  .mobile-left {
    float: left; }

  .mobile-right {
    float: right; }

  .mobile-no-float {
    float: none; }

  .container, .mobile-container {
    padding-left: 20px;
    padding-right: 20px; }

  /* Mobile Tables */
  table th,
  table td {
    padding: 4px; }

  .no-mobile {
    display: none; }

  .show-mobile {
    display: block; }

  #sfpirg-logo, #top-search-bar {
    text-align: center; }

  #values, #newsletter {
    background: url(../img/extra_clean_paper-d.jpg) bottom right repeat-x; }

  #get-involved {
    background: url(../img/extra_clean_paper-dt.jpg) bottom right repeat-x;
    text-align: center; }
    #get-involved .arx-logo {
      float: none;
      margin: -7px 0 0; }
    #get-involved .arx-text {
      height: 0;
      margin: 0;
      overflow: hidden;
      width: 0; }
    #get-involved .arx-browse {
      float: none;
      margin: 5px 0; }
    #get-involved .wrap-fix {
      width: 200px;
      margin: 0 auto; }

  #stay-connected img {
    height: auto;
    padding: 15px 6px;
    width: 22%; }

  #what-is-happening ul {
    margin: 0;
    height: 112px; }
  #what-is-happening .event-img {
    padding: 6px 8px 8px 0;
    width: 30%; }
  #what-is-happening .ev-title {
    font-size: 10px; }
  #what-is-happening .ev-date {
    font-size: 10px; }
  #what-is-happening .ev-text {
    font-size: 10px; }
  #what-is-happening .left-button {
    width: 45px;
    height: 38px; }
  #what-is-happening .right-button {
    width: 45px;
    height: 38px; }
  #what-is-happening .prev-big {
    /*activae when JS carousel is in:
    background:url(../img/arrow-left-green.png) top center no-repeat;*/ }
  #what-is-happening .next-big {
    /*activae when JS carousel is in:
    background:url(../img/arrow-right-green.png) top center no-repeat;*/ }

  #action-groups {
    background: url(../img/extra_clean_paper-dt.jpg) bottom right repeat-x;
    text-align: center; }
    #action-groups .ag-logo {
      display: none; }
    #action-groups .ag-more {
      margin: 8px 0;
      float: none;
      padding: 0; }
    #action-groups ul {
      margin: -14px 0 0 0;
      width: 180px;
      height: 103px; }
    #action-groups li {
      width: 55px;
      height: 55px; }
    #action-groups .left-button {
      left: 0px; }
    #action-groups .right-button {
      right: 0px; }
    #action-groups .wrap-fix {
      width: 200px;
      margin: 0 auto; }

  #project-carousel ul {
    padding: 0 80px; }

  #category-list ul {
    padding-left: 30px; }

  #main-content h1 {
    font-size: 14px;
    padding: 14px; }

  form label {
    display: block; } }
/* End Mobile Media Query */
