{% load append_to_get %}

<div id="pagination">
    <ul>

    	{% if recordlist.has_previous %}
    		<li style="width:auto;" ><a style="width:auto;" href="{% append_to_get page=recordlist.previous_page_number %}">Previous</a></li>
    	{% endif %}

        {% for num in recordlist.paginator.page_range %}

			<li>

			{% if num == recordlist.number %}
	        <span class="current">
	            {{ recordlist.number }}
	        </span>
	        {% endif %}

	        {% if num != recordlist.number %}
	        	<a href="{% append_to_get page=num %}">{{num}}</a>
	        {% endif %}

			</li>
        {% endfor %}


    	{% if recordlist.has_next %}
    		<li style="width:auto;" ><a style="width:auto;" href="{% append_to_get page=recordlist.next_page_number %}">Next</a></li>
    	{% endif %}

    </ul>
</div>
