<div class="pagination">
    <span class="pagination-links">
        {% if recordlist.has_previous %}
            <a class="prev" href="?page={{ recordlist.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ recordlist.number }} of {{ recordlist.paginator.num_pages }}.
        </span>

        {% if recordlist.has_next %}
            <a class="next" href="?page={{ recordlist.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
