{% load pages_tags mezzanine_tags i18n future staticfiles sfpirg_tags calendar_tags news_tags  %}
<section id="sidebar" class="col four tablet-five mobile-full">

	<div class="section row grey">

		<div id="navigation" class="col tablet-full mobile-full">
			<h3>Navigation</h3>
			{% sfpirg_side_menu  %}
		</div><!-- end of #navigation -->

	</div>

	<div class="section row grey">

		<div id="experience-widget" class="col tablet-full mobile-full">
			<h3><a href="/category/{{'Testimonial'|category_slug}}">EXPERIENCE SFPIRG</a></h3>
			{% sfpirg_random_testimonial %}
		</div><!-- end of #experience-widget -->

	</div>

	<div class="section row green">

		<div id="what-is-happening" class="col tablet-full mobile-full">
			<h3><a href="/category/{{'Event'|category_slug}}">What is happening</a></h3>
			{% calendar_event_slider %}
		</div><!-- end of #what-is-happening -->
	</div>

	<div class="section row grey">

		<div id="newsletter" class="col tablet-full mobile-full">
			<h3>NEWSLETTER</h3>
			<a href="http://sfpirg.us4.list-manage1.com/subscribe?u=06455f18e6886efe48a03ced1&id=66dabecbe8" target="_blank"><img src="/static/img/newsletter.png" alt="Click for: Newsletter" /></a>
		</div><!-- end of #newsletter -->

	</div>

	<div class="section row green">

		<div id="stay-connected" class="col tablet-full mobile-full">
			<h3><a href="#">Stay Connected</a></h3>
			<a href="https://www.facebook.com/sfpirg" target="_blank"><img src="/static/img/facebook.png" alt="Like us on Facebook" /></a>
			<a href="https://twitter.com/SFPIRG" target="_blank"><img src="/static/img/twitter.png" alt="Follow Us on Twitter" /></a>
			<a href="http://www.youtube.com/user/SFPIRGatSFU" target="_blank"><img src="/static/img/youtube.png" alt="Watch Us on You Tube"/></a>
		</div><!-- end of #stay-connected -->

	</div>

</section>