{% load i18n future pages_tags %}
{% spaceless %}
	{% if page_branch_in_menu %}
		{% if branch_level == 0 %}
			<ul>
			    {% for page in page_branch %}
				    {% if page.in_menu %}
					    <li class="dropdown{% if page.is_current_or_ascendant %} active{% endif %}"
					        id="dropdown-menu-{{ page.html_id }}">
					        <a href="{{ page.get_absolute_url }}">
					            {{ page.title|truncatewords:6 }}
					        </a>
					    </li>
				    {% endif %}
			    {% endfor %}
			</ul>
		{% endif %}
	{% endif %}
{% endspaceless %}
