{% load i18n future pages_tags sfpirg_tags %}
{% spaceless %}
	<div class="col eight tablet-full mobile-full cycle-slideshow menu-slideshow"
			data-cycle-fx="fade"
			data-cycle-timeout="10000"
			data-cycle-slides="> div.slidecontent"
	        data-cycle-prev="#prevslide"
	        data-cycle-next="#nextslide"
	        data-overlay-template="<div>{% templatetag openvariable %}title{% templatetag closevariable %}</div><div>{% templatetag openvariable %}desc{% templatetag closevariable %}</div><a class='button-more red' href='{% templatetag openvariable %}url{% templatetag closevariable %}'></a>">
	    <a href="#" id="prevslide" class="arrow-left red"></a>
    	<a href="#" id="nextslide" class="arrow-right red"></a>
		<div class="cycle-overlay"></div>
	    {% for page in pages %}
	    	<div class="slidecontent"
	    		data-cycle-title="{{ page.marquee_caption|default:page.title|truncatewords:6 }}"
			    data-cycle-desc="{{ page.richtextpage.content|striptags|truncatewords:30 }}"
			    data-cycle-url="{{ page.get_absolute_url }}">
			    {% if page.featured_image_wide %}
			    	<a href="{{ page.get_absolute_url }}"><img src="{{ MEDIA_URL }}{% sfpirg_thumbnail page.featured_image_wide 785 0 %}" /></a>
			    {% else %}
			    	<a href="{{ page.get_absolute_url }}"><img src="{{ MEDIA_URL }}{% sfpirg_thumbnail page.featured_image 785 0 %}" /></a>
			    {% endif %}

		    </div>
	    {% endfor %}
	</div>
{% endspaceless %}
