
//Peignot Font Styles
$peibold:Peignot LT Std Bold, PeignotLTStd-Bold;
$peilight:Peignot LT Std Light, PeignotLTStd-Light;
$peidemi:Peignot LT Std Demi, PeignotLTStd-Demi;

//SFPIRG Colors
$red:#BE1D2C;
$grey:#675F5F;
$dgrey:#221F1F;
$green:#6AA620;
$teal:#27A8A5;
$yellow:#DDC22F;

//SFPIRG Backgrounds
$paper:url(../img/extra_clean_paper.jpg);
$dpaper:url(../img/extra_clean_paper-d.jpg);
$dtpaper:url(../img/extra_clean_paper-dt.jpg);

