
@import "measurements";
@import "common";

form {

  label {
    display: inline-block;
    min-width: 100px;
    margin-right: 10px;
  }

  span.helptext {
    display: block;
    font-size: smaller;
    color: $grey;
  }

  input[type=text], select {
    width: 100%;
    padding: 5px;
    border: 1px solid lighten($grey, 10%);
  }

  .errorlist {
    border: 1px solid red;
    padding: 20px 10px 5px 30px;
    background-color: pink;
  }

}

#searchform {
	float: right;
	margin-left: 20px;
}

.avatar-container {
	width: 20px;
	height: 20px;
	overflow: hidden;
	display: inline-block;
	margin: 0 5px;
}

.user-greeting {
	a {
 		display: inline-block;
 		margin: 0 5px;
 		line-height: 30px;
 	}
 }

a.add-another {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size:14px;
  padding: .5em 2em .55em;
  margin:5px;
  color: #fff;
  border: solid 1px $grey;
  background: $red;
}
a.add-another:hover {
  text-decoration: none;
  background: $grey;
  color:#fff;

}
a.add-another:active {
  position: relative;
  top: 1px;
  color: #fff;
}


/* Override CKEditor built-in styles */

