
@import "measurements";
@import "common";

form {

  label {
    display: inline-block;
    min-width: 100px;
    margin-right: 10px;
  }

  span.helptext {
    display: block;
    font-size: smaller;
    color: $grey;
  }

  input[type=text], select {
    min-width: 300px;
    padding: 5px;
    border: 1px solid lighten($grey, 10%);
  }

  .errorlist {
    border: 1px solid red;
    padding: 20px 10px 5px 30px;
    background-color: pink;
  }

  a.add-another {
    display: inline-block;
    padding: 0 10px;
    font-size: 19px;
    font-weight: bold;
    color: blue;
    text-decoration: none;
  }

}

#searchform {
	float: right;
	margin-left: 20px;
}

.avatar-container {
	width: 20px;
	height: 20px;
	overflow: hidden;
	display: inline-block;
	margin: 0 5px;
}

.user-greeting {
	a {
 		display: inline-block;
 		margin: 0 5px;
 		line-height: 30px;
 	}
 }
