
@import "measurements";

.menu-slideshow {
  position: relative;
  overflow: hidden;
  max-height: 330px;

  .button-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 700;
  }

  /* caption */
  .cycle-caption { position: absolute; color: white; bottom: 15px; right: 15px; z-index: 700; }


  /* overlay */
  .cycle-overlay {
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 600;
      background-color: rgba(0,0,0, 0.3);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);   /* IE*/
      padding: 15px;
      color: white;

      div:first-child {
        font-family: Peignot LT Std Demi, PeignotLTStd-Demi;
        text-transform: uppercase;
        font-size: 20px;
        font-size: 1.25rem;
      }
  }

  .arrow-left, .arrow-right {
    background-position: top center;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 66px;
    height: 55px;
    top: 130px;
    z-index: 101;
  }

  .arrow-left {
    left: 10px;
    &.red {
      background-image: url(/static/img/arrow-left-red-b.png);
    }
    &.green {
      background-image: url(/static/img/arrow-left-green-b.png);
    }
    &.teal {
      background-image: url(/static/img/arrow-left-teal-b.png);
    }
  }

  .arrow-right {
    right: 10px;
    &.red {
      background-image: url(/static/img/arrow-right-red-b.png);
    }
    &.green {
      background-image: url(/static/img/arrow-right-green-b.png);
    }
    &.teal {
      background-image: url(/static/img/arrow-right-teal-b.png);
    }
  }

}

.event-slider-container {
   overflow: hidden;

  .button-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 700;
  }

  .slide {
    padding: 0 70px;
    white-space: normal;
    vertical-align: top;
    width: 100%;
    p {
      white-space: normal;
    }
  }

  .arrow-left, .arrow-right {
    background-position: top center;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 66px;
    height: 55px;
    top: 20px;
    z-index: 101;
  }

  .arrow-left {
    left: 2px;
    &.red {
      background-image: url(/static/img/arrow-left-red-b.png);
    }
    &.green {
      background-image: url(/static/img/arrow-left-green-b.png);
    }
    &.teal {
      background-image: url(/static/img/arrow-left-teal-b.png);
    }
  }

  .arrow-right {
    right: 2px;
    &.red {
      background-image: url(/static/img/arrow-right-red-b.png);
    }
    &.green {
      background-image: url(/static/img/arrow-right-green-b.png);
    }
    &.teal {
      background-image: url(/static/img/arrow-right-teal-b.png);
    }
  }
}
/*

@media only screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
  .event-slider-container {
    .slide {
       width: 302px;
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .event-slider-container {
    .slide {
       width: 100%;
    }
  }
}*/