
@import "measurements";
@import "common";


.menu-slideshow {
  position: relative;
  overflow: hidden;
  max-height: 330px;

  .button-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 700;
  }

  /* caption */
  .cycle-caption { position: absolute; color: white; bottom: 15px; right: 15px; z-index: 700; }


  /* overlay */
  .cycle-overlay {
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 600;
      background-color: rgba(0,0,0, 0.3);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);   /* IE*/
      padding: 15px;
      color: white;

      div:first-child {
        font-family: Peignot LT Std Demi, PeignotLTStd-Demi;
        text-transform: uppercase;
        font-size: 20px;
        font-size: 1.25rem;
      }
  }

  .arrow-left, .arrow-right {
    background-position: top center;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 66px;
    height: 55px;
    top: 130px;
    z-index: 101;
  }

  .arrow-left {
    left: 10px;
    &.red {
      background-image: url(/static/img/arrow-left-red-b.png);
    }
    &.green {
      background-image: url(/static/img/arrow-left-green.png);
    }
    &.teal {
      background-image: url(/static/img/arrow-left-teal.png);
    }
  }

  .arrow-right {
    right: 10px;
    &.red {
      background-image: url(/static/img/arrow-right-red-b.png);
    }
    &.green {
      background-image: url(/static/img/arrow-right-green.png);
    }
    &.teal {
      background-image: url(/static/img/arrow-right-teal.png);
    }
  }

}

.event-slider-container, .ag-slider-container {
   overflow: hidden;

  .button-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 700;
  }

  .slide {
	min-height:120px;
    padding: 0 70px;
    white-space: normal;
    vertical-align: top;
    width: 100%;
    p {
      white-space: normal;
    }
  }

  .arrow-left, .arrow-right {
    background-position: top center;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 66px;
    height: 55px;
    top: 20px;
    z-index: 101;
  }

  .arrow-left {
    left: 2px;
    &.red {
      background-image: url(/static/img/arrow-left-red-b.png);
    }
    &.green {
      background-image: url(/static/img/arrow-left-green.png);
    }
    &.teal {
      background-image: url(/static/img/arrow-left-teal.png);
    }
  }

  .arrow-right {
    right: 2px;
    &.red {
      background-image: url(/static/img/arrow-right-red-b.png);
    }
    &.green {
      background-image: url(/static/img/arrow-right-green.png);
    }
    &.teal {
      background-image: url(/static/img/arrow-right-teal.png);
    }
  }

}

.ag-slider-container {
  .slide {

    width: 100%;

    .slide-center {
      margin: auto;
      width: 156px;

      .ag {
        display: block;
        float: left;
        width: 63px;
        height: 63px;
        overflow: hidden;
        margin: 5px;
        img {
          max-width: none;
        }
      }
    }

  }
}

.project-carousel-container {
	position: relative;
	padding: 0 30px;
	background:$paper repeat;

	.left-button{
		width:45px;
		height:38px;
		position:absolute;
		left: 0;
    	top: 80px;
		}
	.right-button{
		width:45px;
		height:38px;
		position:absolute;
		right: 0;
    	top: 80px;
		}

	.prev-small {
		/*activae when JS carousel is in:
		background:url(../img/arrow-left-yellow.png) top left no-repeat;*/
		&:hover {opacity:0.6;
					filter:alpha(opacity=60); /* For IE8 and earlier */}
		}
	.next-small {
		/*activae when JS carousel is in:
		background:url(../img/arrow-right-yellow.png) top left no-repeat;*/
		&:hover {opacity:0.6;
					filter:alpha(opacity=60); /* For IE8 and earlier */}
		}

	#project-carousel {
		font-family:$peidemi;
		text-align:center;

			div.slide {
				display:inline block;
	    		white-space: normal;
				float: left;
				width:155px;
				height:220px;
				background: url(../img/background-yellow-star.png) center bottom no-repeat;

				}

			 a	{color:#fff;
				text-decoration:none;
				&:hover{color:#000;}
			 }
			h4 {
				font-size:24px;
				color:#fff;
				margin:0;
				width:100%;
				text-transform:uppercase;
				line-height: 22px;
				float:left;
				}

	}
}
