/*
Syntax error: Undefined variable: "$peidemi".
        on line 163 of sass/slides.scss
        from line 11 of sass/style.scss

158:   max-width:100%;
159:   height:auto;
160: }
161: @media \0screen {
162:   img {
163:   	width: auto; /* for ie 8 */
164:   }
165: }
166: svg:not(:root) { overflow: hidden; }
167: figure { margin: 0; }
168: 

Backtrace:
sass/slides.scss:163
sass/style.scss:11
/usr/lib/ruby/vendor_ruby/sass/script/variable.rb:49:in `_perform'
/usr/lib/ruby/vendor_ruby/sass/script/node.rb:40:in `perform'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:296:in `visit_prop'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:98:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:119:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:106:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:318:in `visit_rule'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:98:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:225:in `block in visit_import'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:225:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:225:in `visit_import'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:98:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:119:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:106:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:126:in `visit_root'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:98:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:7:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:20:in `render'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:315:in `_render'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:262:in `render'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:341:in `update_stylesheet'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:201:in `each'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:201:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:235:in `watch'
/usr/lib/ruby/vendor_ruby/sass/plugin.rb:107:in `method_missing'
/usr/lib/ruby/vendor_ruby/sass/exec.rb:440:in `watch_or_update'
/usr/lib/ruby/vendor_ruby/sass/exec.rb:307:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/exec.rb:41:in `parse'
/usr/lib/ruby/vendor_ruby/sass/exec.rb:21:in `parse!'
/usr/bin/scss:8:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$peidemi\".\A         on line 163 of sass/slides.scss\A         from line 11 of sass/style.scss\A \A 158:   max-width:100%;\A 159:   height:auto;\A 160: }\A 161: @media \0screen {\A 162:   img {\A 163:   	width: auto; /* for ie 8 */\A 164:   }\A 165: }\A 166: svg:not(:root) { overflow: hidden; }\A 167: figure { margin: 0; }\A 168: "; }
