{% extends "pages/page.html" %}

{% load mezzanine_tags sfpirg_tags %}

{% block contentclass %}teal{% endblock %}
{% block main %}

{% if form %}
	<form method='post' action='' enctype="multipart/form-data">
		{% csrf_token %}

		{% for field in form %}
			<div title="{{field.help_text}}"
				{% if field.errors %} class="errorlist" {% endif %}
				style="margin: 0 0 10px 0;">

				{% if field.errors %}
					<ul>
						{% for error in field.errors %}
							<li>{{ error }}</li>
						{% endfor %}
					</ul>
				{% endif %}

				{% if not field.is_hidden %}
					{{field.label_tag}}
					{% if field.help_text %}
						<div class="help-inline">{{ field.help_text }}</div>
					{% endif %}
				{% endif %}
				{{ field }}
			</div>
		{% endfor %}
		<p>
			{% if actiongroup.is_approved %}
			<input type='submit' value='Update'/>
			{% else %}
			<input type='submit' value='Submit for Approval' />
			{% endif %}
		</p>
	</form>
{% else %}


	<h1>{{ page.title|truncatewords:6 }}</h1>

	{% if request.user == actiongroup.user or request.user.is_superuser %}
		<a href="?edit=1">Edit this page</a>
	{% endif %}

	<div id="main-content-block">

		{% if actiongroup.featured_image %}
			<img class="featured-image" src="{{ MEDIA_URL }}{% sfpirg_thumbnail actiongroup.featured_image 200 0 %}" />
		{% endif %}

		{{ actiongroup.content|richtext_filter|safe }}

		{% if actiongroup.announcements %}
			<h2>Announcements</h2>
			{{ actiongroup.announcements|richtext_filter|safe }}
		{% endif %}

		{% if actiongroup.meetings %}
			<h2>Meetings</h2>
			{{ actiongroup.meetings|richtext_filter|safe }}
		{% endif %}

		{% if actiongroup.contact_email %}
			<h2>Contact Email</h2>
			{{ actiongroup.contact_email|richtext_filter|safe }}
		{% endif %}

		{% if actiongroup.contact_phone %}
			<h2>Contact Phone</h2>
			{{ actiongroup.contact_phone|richtext_filter|safe }}
		{% endif %}

		{% if actiongroup.links %}
			<h2>Links</h2>
			{{ actiongroup.links|richtext_filter|safe }}
		{% endif %}

		{% if actiongroup.facebook_url %}
			<a href="{{ actiongroup.facebook_url }}"><img src="/static/img/icon-fb.png" title="Facebook: {{ actiongroup.facebook_url }}" /></a>
		{% endif %}

		{% if actiongroup.twitter %}
			<a href="{{ actiongroup.twitter_url }}"><img src="/static/img/icon-tw.png" title="Twitter: {{ actiongroup.twitter }}"  /></a>
		{% endif %}

		{% if actiongroup.google_plus_url %}
			<a href="{{ actiongroup.google_plus_url }}"><img src="/static/img/icon-g-plus.png" title="Google+: {{ actiongroup.google_plus_url }}" /></a>
		{% endif %}

		{% if actiongroup.mailing_list_url %}
			<a href="{{ actiongroup.mailing_list_url }}"><img src="/static/img/icon-email.png" title="Mailing List+: {{ actiongroup.mailing_list_url }}" /></a>
		{% endif %}
	</div>

{% endif %}
{% endblock %}
