{% extends "base.html" %}
{% load i18n staticfiles mezzanine_tags sfpirg_tags %}

{% block contentclass %}green{% endblock %}

{% block main %}

<div class="project">

	<h1>{{project.title}}</h1>

	{% if form and user.is_superuser %}
		{% if form.subject.errors %}
		    <ol>
		    {% for error in form.subject.errors %}
		        <li><strong>{{ error|escape }}</strong></li>
		    {% endfor %}
		    </ol>
		{% endif %}

		<form method='post' action=''>
			{% csrf_token %}
			<input type="hidden" name="id" value="{{form.instance.id}}"/>
			{{form.as_p}}
			<p><input type='submit' value='Save'/></p>
		</form>
	{% endif %}

	{% if not form %}

		{% if user.is_superuser %}
			<p><a href="?edit=1">Edit this project</a></p>
		{% endif %}

		<p><a href="{{project.get_apply_url}}">Apply for this project</a></p>

		<dl>
			<dt>Author:</dt>
				<dd>{{project.user.get_full_name}}</dd>
			<dt>Liaison:</dt>
				<dd>{{project.liaison.as_p|safe}}</dd>
			<dt>How much time per week can the Contact/Liaison devote to the student?</dt>
				<dd>{{project.time_per_week}}</dd>
			<dt>How will the Contact/Liaison provide direction and support to the project?</dt>
				<dd>{{project.support_method}}</dd>
			<dt>Project Image:</dt>
				<dd><img src="{{MEDIA_URL}}{{project.logo}}"/></dd>
			<dt>Research Question / Brief Project Description:</dt>
				<dd>{{project.description_short}}</dd>
			<dt>Project Type:</dt>
				<dd>{{project.project_type.all|join:', '}} {{project.project_type_other}}</dd>
			<dt>Project Subject:</dt>
				<dd>{{project.project_subject.all|join:', '}} {{project.project_subject_other}}</dd>
			<dt>Size of Project:</dt>
				<dd>{{project.size}}</dd>
			<dt>Length of Project:</dt>
				<dd>{{project.length}}</dd>
			<dt>Project description:</dt>
				<dd>{{project.description_long}}</dd>
			<dt>Issues Addressed by the Project:</dt>
				<dd>{{project.issues_addressed}}</dd>
			<dt>How do you plan to use the results of this project?:</dt>
				<dd>{{project.results_plan}}</dd>
			<dt>What larger goal is served by undertaking this project?:</dt>
				<dd>{{project.larger_goal}}</dd>
			<dt>What Are You Looking For in a Student Researcher?:</dt>
				<dd>{{project.researcher_qualities}}</dd>
		</dl>

		<p><a href="{{project.get_apply_url}}">Apply for this project</a></p>
	{% endif %}
</div>
{% endblock %}
