{% extends "base.html" %}
{% load i18n staticfiles mezzanine_tags sfpirg_tags %}

{% block contentclass %}green{% endblock %}

{% block main %}

<div class="project">

	<h1>Apply for {{project.title|truncatewords:6}}</h1>

	{% if form.subject.errors %}
	    <ol>
	    {% for error in form.subject.errors %}
	        <li><strong>{{ error|escape }}</strong></li>
	    {% endfor %}
	    </ol>
	{% endif %}

	<form method='post' action=''>
		{% csrf_token %}
		<input type="hidden" name="id" value="{{form.instance.id}}"/>

		{% for field in form %}
			<div title="{{field.help_text}}"
				{% if field.errors %} class="errorlist" {% endif %}
				style="margin: 0 0 10px 0;">

				{% if field.errors %}
					<ul>
						{% for error in field.errors %}
							<li>{{ error }}</li>
						{% endfor %}
					</ul>
				{% endif %}

				{% if not field.is_hidden %}
					{{field.label_tag}}
					{% if field.help_text %}
						<div class="help-inline">{{ field.help_text }}</div>
					{% endif %}
				{% endif %}
				{{ field }}
			</div>
		{% endfor %}
		<p><input type='submit' value='Submit'/></p>
	</form>

</div>
{% endblock %}
