{% extends "base.html" %}
{% load i18n staticfiles mezzanine_tags sfpirg_tags %}

{% block extra_js %}
	<script src="{% static 'js/arx.js' %}"></script>
{% endblock %}

{% block contentclass %}green{% endblock %}

{% block main %}

{% if user.is_superuser or user == project.user %}
{% else %}
	{% block category_tools %}
		<div class="category-tools" {% if not request.session.selected_projects %} style="display: none;" {% endif %} >
			<h4>Selected Projects:<span class="selected-projects-count">{{ request.session.selected_projects|length }}</span>
				<a href="/arx/apply/" title="Apply for selected projects"><img src="/static/img/arx/apply.png" /></a>
			</h4>
		</div>
	{% endblock %}
{% endif %}


<div class="project">

	<h1>{{project.title|truncatewords:6}}</h1>

	{% if form and not project.is_submitted %}
		{% if user.is_superuser or user == project.user %}
			{% if form.subject.errors %}
			    <ol>
				{% for error in form.subject.errors %}
			        <li><strong>{{ error|escape }}</strong></li>
			    {% endfor %}
			    </ol>
			{% endif %}

			<form method='post' action='' enctype="multipart/form-data">
				{% csrf_token %}
				<input type="hidden" name="id" value="{{form.instance.id}}"/>
				{{form.as_p}}
				<p>
					<input type='submit' value='Save as Draft'/>
					<input type='submit' onclick='$("#id_is_submitted").val("True");return true;' value='Submit for Approval' />
				</p>
			</form>
		{% endif %}
	{% else %}
		{% if user.is_superuser or user == project.user %}
			{% if not project.is_submitted %}
				<p><a href="?edit=1">Edit this project</a></p>
			{% endif %}
		{% endif %}

		{% if project.logo %}
			<img class="featured-image" src="{{ MEDIA_URL }}{% sfpirg_thumbnail project.logo 200 0 %}" alt="Project Logo" />
		{% endif %}

		<h2>{{project.title|truncatewords:6}}</h2>

		<div class="project-summary">
			<div class="project-info-line">
				<span class="label">Organization: </span>
				<span class="name-org">{{project.user.profile.organization.title}}</span>
			</div>
			<div class="project-info-line">
				<span class="label">Type(s): </span>
				<span class="text">{{project.project_type.all|join:', '}} {{project.project_type_other}}</span>
			</div>
			<div class="project-info-line">
				<span class="label">Issue(s): </span>
				<span class="text">{{project.formatted_project_subject}}</span>
			</div>
			<div class="project-info-line">
				<span class="label">Duration: </span>
				<span class="text">{{project.length}}</span>
			</div>
			<div class="project-info-line row">
            <span class="icon">
				{% if user.is_superuser or user == project.user %}
					{% if project.is_approved %}
						<img src="/static/img/arx/published.png"/>
					{% else %}
						{% if not project.is_submitted %}
							<a href="?edit=1"><img src="/static/img/arx/draft.png"/></a>
						{% else %}
							<img src="/static/img/arx/submitted.png"/>
						{% endif %}
					{% endif %}
				{% else %}
					<a href="" class="arx-project-select" id="arx-project-select-{{project.pk}}"><img class="cat-more-left" src="/static/img/arx/select.png" /></a>
					<a href="" class="arx-project-deselect" style="display: none;" id="arx-project-deselect-{{project.pk}}"><img class="cat-more-left" src="/static/img/arx/added.png" /></a>
				{% endif %}
                </span>

				<span class="social-icons"><!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-525da9880c8f9f5e"></script>
<!-- AddThis Button END --></span>
			</div>
		</div>

		<div class="project-details">
			<h4>About this Project:</h4>
			<div class="arx-progect-text">
				{{project.description_long|richtext_filter|safe}}
			</div>

			<h4>Deliverables:</h4>
			<div class="arx-progect-text">
				{{project.description_long|richtext_filter|safe}}
			</div>

			<h4>The Student Researcher Must Possess:</h4>
			<div class="arx-progect-text">
				{{project.researcher_qualities|richtext_filter|safe}}
			</div>

			<h4>Use of Project Results:</h4>
			<div class="arx-progect-text">
				{{project.results_plan|richtext_filter|safe}}
			</div>

            <div class="project-info-line row">
            <span class="icon">
				{% if user.is_superuser or user == project.user %}
					{% if project.is_approved %}
						<img src="/static/img/arx/published.png"/>
					{% else %}
						{% if not project.is_submitted %}
							<a href="?edit=1"><img src="/static/img/arx/draft.png"/></a>
						{% else %}
							<img src="/static/img/arx/submitted.png"/>
						{% endif %}
					{% endif %}
				{% else %}
					<a href="" class="arx-project-select" id="arx-project-select-{{project.pk}}"><img class="cat-more-left" src="/static/img/arx/select.png" /></a>
					<a href="" class="arx-project-deselect" style="display: none;" id="arx-project-deselect-{{project.pk}}"><img class="cat-more-left" src="/static/img/arx/added.png" /></a>
				{% endif %}
                </span>

				<span class="social-icons"><!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-525da9880c8f9f5e"></script>
<!-- AddThis Button END --></span>
			</div>


		</div>

		<hr/>

		<div class="organization">

			{% if project.user.profile.photo %}
				<img class="featured-image-right" style="float: right; padding: 10px;" src="{{ MEDIA_URL }}{% sfpirg_thumbnail project.user.profile.photo 200 0 %}" alt="Organization Logo" />
			{% endif %}

			{% if project.user.profile.organization.website %}
				<h2>About <a href="{{ project.user.profile.organization.website }}" target="_blank">{{ project.user.profile.organization.title }}</a></h2>
			{% else %}
				<h2>About {{ project.user.profile.organization.title }}</h2>
			{% endif %}

			<div class="arx-progect-text">
				{{ project.user.profile.organization.mandate|richtext_filter|safe }}
			</div>
		</div>
	{% endif %}
</div>
{% endblock %}
