{% extends "base.html" %}
{% load i18n staticfiles mezzanine_tags sfpirg_tags %}

{% block contentclass %}teal{% endblock %}

{% block main %}
<div class="project">
	<h1>New ARX Project Proposal</h1>

	{% if form.subject.errors %}
	    <ol>
	    {% for error in form.subject.errors %}
	        <li><strong>{{ error|escape }}</strong></li>
	    {% endfor %}
	    </ol>
	{% endif %}

	<form method='post' action='' enctype="multipart/form-data">
		{% csrf_token %}
		<div class="arx-steps clear"><img src="/static/img/arx-steps-3.png" alt="Step 3 of 3 Easy Steps " /></div>
		{% for field in form %}
			<div title="{{field.help_text}}"
				{% if field.errors %} class="errorlist" {% endif %}
				style="margin: 0 0 10px 0;">

				{% if field.errors %}
					<ul>
						{% for error in field.errors %}
							<li>{{ error }}</li>
						{% endfor %}
					</ul>
				{% endif %}

				{% if not field.is_hidden %}
					{{field.label_tag}}
					{% if field.help_text %}
						<div class="help-inline">{{ field.help_text }}</div>
					{% endif %}
				{% endif %}
				{{ field }}
			</div>
		{% endfor %}
		<p>
			<input type='submit' value='Save as Draft'/>
			<input type='submit' onclick='$("#id_is_submitted").val("True");return true;' value='Submit for Approval' />
		</p>
	</form>
</div>
{% endblock %}

