{% extends "base.html" %}
{% load i18n staticfiles mezzanine_tags sfpirg_tags %}

{% block extra_js %}
	<script src="{% static 'js/arx.js' %}"></script>
{% endblock %}

{% block contentclass %}green{% endblock %}

{% block main %}

{% block category_tools %}
	<div class="category-tools" {% if not request.session.selected_projects %} style="display: none;" {% endif %} >
		<h4>Selected Projects: <span class="selected-projects-count">{{ request.session.selected_projects|length }}</span>
			<a href="/arx/apply/" title="Apply for selected projects"><img src="/static/img/arx/apply.png" /></a>
		</h4>
	</div>
{% endblock %}


<div class="project">

	<h1>{{project.title}}</h1>

	{% if form and user.is_superuser %}
		{% if form.subject.errors %}
		    <ol>
		    {% for error in form.subject.errors %}
		        <li><strong>{{ error|escape }}</strong></li>
		    {% endfor %}
		    </ol>
		{% endif %}

		<form method='post' action=''>
			{% csrf_token %}
			<input type="hidden" name="id" value="{{form.instance.id}}"/>
			{{form.as_p}}
			<p><input type='submit' value='Save'/></p>
		</form>
	{% endif %}

	{% if not form %}

		{% if user.is_superuser %}
			<p><a href="?edit=1">Edit this project</a></p>
		{% endif %}

		{% if project.logo %}
			<img class="featured-image" src="{{ MEDIA_URL }}{% sfpirg_thumbnail project.logo 200 0 %}" alt="Project Logo" />
		{% endif %}

		<h2>{{project.title}}</h2>

		<div class="project-summary">
			<div class="project-info-line">
				<span class="label">Organization:</span>
				<span class="text">{{project.user.profile.organization.title}}</span>
			</div>
			<div class="project-info-line">
				<span class="label">Type:</span>
				<span class="text">{{project.project_type.all|join:', '}} {{project.project_type_other}}</span>
			</div>
			<div class="project-info-line">
				<span class="label">Issues:</span>
				<span class="text">{{project.issues_addressed}}</span>
			</div>
			<div class="project-info-line">
				<span class="label">Duration:</span>
				<span class="text">{{project.length}}</span>
			</div>
			<div class="project-info-line">
				<a href="" class="arx-project-select" id="arx-project-select-{{project.pk}}"><img class="cat-more-left" src="/static/img/arx/select.png" /></a>
				<a href="" class="arx-project-deselect" style="display: none;" id="arx-project-deselect-{{project.pk}}"><img class="cat-more-left" src="/static/img/arx/added.png" /></a>
				<span class="social-icons">[social icons placeholder!]</span>
			</div>
		</div>

		<div class="project-details">
			<h2>About this Project:</h2>
			<div>
				{{project.description_short|richtext_filter|safe}}
			</div>

			<h2>Deliverables:</h2>
			<div>
				{{project.description_long|richtext_filter|safe}}
			</div>

			<h2>The Student Researcher Must Possess:</h2>
			<div>
				{{project.researcher_qualities|richtext_filter|safe}}
			</div>

			<h2>Use of Project Results:</h2>
			<div>
				{{project.results_plan|richtext_filter|safe}}
			</div>
		</div>

		<hr/>

		<div class="organization">
			<h2>About {{ project.user.profile.organization.title }}</h2>
			<div>
				{{ project.user.profile.organization.mandate|richtext_filter|safe }}
			</div>
		</div>
	{% endif %}
</div>
{% endblock %}
