{% extends "base.html" %}
{% load i18n staticfiles mezzanine_tags sfpirg_tags %}

{% block extra_js %}{% endblock %}

{% block contentclass %}{{category.theme_color}}{% endblock %}

{% block main %}


	{% block category_tools %}
	{% endblock %}

	<h1>{{ category.title|truncatewords:6 }}</h1>

	<div id="main-content-block">
		{% editable category.content %}
			{{ category.content|richtext_filter|safe }}
		{% endeditable %}
	</div>

	{% spaceless %}
	<div id="category-list">
		<ul>

		{% for rec in aglist %}
		    <li>
			    <div class="main-cat-img">
			    	<a href="{{rec.get_absolute_url}}">
			    		{% if rec.featured_image %}
			    			<img src="{{ MEDIA_URL }}{%  sfpirg_thumbnail rec.featured_image 177 200 %}" alt="{{rec.title}}" />
			    		{% else %}
							{% if rec.user.profile.photo %}
								<img class="featured-image" src="{{ MEDIA_URL }}{% sfpirg_thumbnail rec.user.profile.photo 177 200 %}" alt="Avatar" />
							{% else %}
								<img src="{{ MEDIA_URL }}{%  sfpirg_thumbnail 'noimg.jpg' 177 200 %}" alt="{{rec.title}}" />
							{% endif %}
			    		{% endif %}
			    	</a>
			    </div>
			    <h2><a href="{{rec.get_absolute_url}}">{{rec.title}}</a></h2>
			    <div class="cat-text">
			    <p>{{ rec.content|striptags|truncatechars:60 }}</p>
			    {% block item_tools %}
			    	<a href="{{rec.get_absolute_url}}"><img class="cat-more" src="/static/img/more-button-grey.png" alt="Click for More" /></a>
			    {% endblock %}
			    </div>
		    </li>
		 {% endfor %}

		</ul>
		<div id="pagination">
			{% sfpirg_pagination aglist %}
		</div>
	</div>
	{% endspaceless %}

{% endblock %}

