{% extends "sfpirg/category.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles sfpirg_tags %}

{% block extra_js %}
	<script src="{% static 'js/arx.js' %}"></script>
{% endblock %}

{% block category_tools %}
	<div class="category-tools" {% if not request.session.selected_projects %} style="display: none;" {% endif %} >
		<h4>Selected Projects: <span class="selected-projects-count">{{ request.session.selected_projects|length }}</span>
			<a href="/arx/apply/" title="Apply for selected projects"><img src="/static/img/arx/apply.png" /></a>
		</h4>
	</div>
{% endblock %}

{% block item_tools %}
	<div>
		{% if user.is_superuser or user == rec.user %}
			{% if rec.is_published %}
				<img class="cat-more-left" src="/static/img/arx/published.png"/>
			{% else %}
				<a href="{{rec.get_absolute_url}}?edit=1"><img class="cat-more-left" src="/static/img/arx/draft.png"/></a>
			{% endif %}
		{% else %}
			<a href="" class="arx-project-select" id="arx-project-select-{{rec.pk}}"><img class="cat-more-left" src="/static/img/arx/select.png" /></a>
			<a href="" class="arx-project-deselect" style="display: none;" id="arx-project-deselect-{{rec.pk}}"><img class="cat-more-left" src="/static/img/arx/added.png" /></a>
		{% endif %}
		<a href="{{rec.get_absolute_url}}"><img class="cat-more" src="/static/img/arx/more.png" alt="Click for More" /></a>
	</div>
{% endblock %}