{% load mezzanine_tags staticfiles sfpirg_tags %}

{% if testimonial.user.profile.photo %}
	<img src="{{ MEDIA_URL }}{% sfpirg_thumbnail testimonial.user.profile.photo 90 0 %}" alt="Avatar" />
{% endif %}
<p class="x-name">{{ testimonial.user.get_full_name|default:testimonial.user.username }} {% if testimonial.user.profile.title %}- {{ testimonial.user.profile.title }}{% endif %}</p>
<p class="x-title-story">{{ testimonial.title }}</p>
	{{ testimonial.content|richtext_filter|safe }}
<a href="{{ testimonial.get_absolute_url }}"><img class="x-more" src="/static/img/more-button-grey.png" alt="Click for More" /></a>