{% extends "base.html" %}
{% load i18n staticfiles mezzanine_tags sfpirg_tags %}

{% block main %}

	<h1>{{ t.title|truncatewords:6 }}</h1>

	{% if t.featured_image %}
		<img class="featured-image" src="{{ MEDIA_URL }}{% sfpirg_thumbnail t.featured_image 177 0 %}" alt="Featured Image" />
	{% endif %}

	{% if not t.featured_image %}
		{% if t.user.profile.photo %}
			<img class="featured-image" src="{{ MEDIA_URL }}{% sfpirg_thumbnail t.user.profile.photo 177 0 %}" alt="Avatar" />
		{% endif %}
	{% endif %}
	<h2>{{ t.title|truncatewords:6 }}</h2>
	<h4 style="line-height:10px;"><span style="font-size:12px; font-weight:normal;">By:</span> {{ t.get_author_full_name }}</h4>
    <p>{{ t.get_author_title }}</p>

	{% editable t.content %}
		{{ t.content|richtext_filter|safe }}
	{% endeditable %}

    <div style="clear:both; margin:20px 0;">
    	<span style="width:auto; float:left;">
         <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style">
        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
        <a class="addthis_counter addthis_pill_style"></a>
        </div>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-525da9880c8f9f5e"></script>
        <!-- AddThis Button END -->
        </span>
        <span style="width:auto; float:right;"><a href="/testimonial/random/"><img src="/static/img/next-experience.png" alt="Next Experience"/></a></span>

    </div>
{% endblock %}

